[run]
omit =
       angelia/cli/commands.py
       angelia/api/app.py
       angelia/resources/urls.py
       wsgi.py
       angelia/api/helpers/vault.py
       angelia/messaging/*
       angelia/resources/livez.py
       angelia/resources/readyz.py
       angelia/hermes/exceptions.py

branch = True

[report]
fail_under = 85
