[run]
omit =
       commands.py
       main.py
       setup.py
       *virtualenvs*
       *tests*
       app/messaging/*
       app/resources/example.py
       app/resources/livez.py
       app/resources/wallets.py

branch = True

[report]
fail_under = 50
