[[source]]
name = "pypi-cloud"
url = "https://269fdc63-af3d-4eca-8101-8bddc22d6f14:b694b5b1-f97e-49e4-959e-f3c202e3ab91@pypi.uksouth.bink.sh/simple"
verify_ssl = true

[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
arrow = "*"
falcon = "*"
requests = "*"
python-jose = {extras = ["cryptography"],version = "*"}
pyjwt = "*"
click = "*"
kombu = "*"
psycopg2-binary = "*"
sqlalchemy = "*"
python-json-logger = "*"
gunicorn = "*"
voluptuous = "*"
pydantic = "*"
prometheus-client = "*"
shared-config-storage = "*"
azure-identity = "*"
azure-keyvault-secrets = "*"
sentry-sdk = {extras = ["falcon"], version = "*"}
jwcrypto = "*"

[dev-packages]
pytest = "*"
werkzeug = "*"
flake8 = "*"
termcolor = "*"
xenon = "*"
isort = "*"
pytest-bdd = "*"
pytest-html = "*"
factory-boy = "*"
sqlalchemy-utils = "*"
coverage = "*"
ptpython = "*"
pytest-mock = "*"
black = "*"

[requires]
python_version = "3.9"
