[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
falcon = "*"
requests = "*"
python-jose = {extras = ["cryptography"],version = "*"}
pyjwt = "*"
click = "*"
kombu = "*"
psycopg2-binary = "*"
sqlalchemy = "*"
python-json-logger = "*"
gunicorn = "*"
voluptuous = "*"
pydantic = "*"

[dev-packages]
pytest = "*"
werkzeug = "*"
flake8 = "*"
termcolor = "*"
xenon = "*"
black = "*"
isort = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
